<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">编辑</div>
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group" id="form">
              <input type="hidden" name="id" th:value="${membershipSettings.id}">
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入会员id</label>
                <div class="layui-input-block">
                  <input type="text" name="memberId" id="memberId" lay-verify="required|memberId" autocomplete="off"
                         placeholder="请输入会员id"
                         class="layui-input" required="required" th:value="${membershipSettings.memberId}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入同城内可查看 1：是2：否</label>
                <div class="layui-input-block">
                  <input type="text" name="sameCityWithinState" id="sameCityWithinState" lay-verify="required|sameCityWithinState" autocomplete="off"
                         placeholder="请输入同城内可查看 1：是2：否"
                         class="layui-input" required="required" th:value="${membershipSettings.sameCityWithinState}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入同城外可查看 1：是2：否</label>
                <div class="layui-input-block">
                  <input type="text" name="sameCityExternalState" id="sameCityExternalState" lay-verify="required|sameCityExternalState" autocomplete="off"
                         placeholder="请输入同城外可查看 1：是2：否"
                         class="layui-input" required="required" th:value="${membershipSettings.sameCityExternalState}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入信息保密开关 1：是2：否</label>
                <div class="layui-input-block">
                  <input type="text" name="confidentialityOfInformationState" id="confidentialityOfInformationState" lay-verify="required|confidentialityOfInformationState" autocomplete="off"
                         placeholder="请输入信息保密开关 1：是2：否"
                         class="layui-input" required="required" th:value="${membershipSettings.confidentialityOfInformationState}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入好友消息提醒开关 1：是2：否</label>
                <div class="layui-input-block">
                  <input type="text" name="friendMessageState" id="friendMessageState" lay-verify="required|friendMessageState" autocomplete="off"
                         placeholder="请输入好友消息提醒开关 1：是2：否"
                         class="layui-input" required="required" th:value="${membershipSettings.friendMessageState}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入系统消息/公告提醒开关 1：是2：否</label>
                <div class="layui-input-block">
                  <input type="text" name="noticeState" id="noticeState" lay-verify="required|noticeState" autocomplete="off"
                         placeholder="请输入系统消息/公告提醒开关 1：是2：否"
                         class="layui-input" required="required" th:value="${membershipSettings.noticeState}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入我的动态回复提醒开关 1：是2：否</label>
                <div class="layui-input-block">
                  <input type="text" name="dynamicResponseState" id="dynamicResponseState" lay-verify="required|dynamicResponseState" autocomplete="off"
                         placeholder="请输入我的动态回复提醒开关 1：是2：否"
                         class="layui-input" required="required" th:value="${membershipSettings.dynamicResponseState}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入编辑时间</label>
                <div class="layui-input-block">
                  <input type="text" name="editState" id="editState" lay-verify="required|editState" autocomplete="off"
                         placeholder="请输入编辑时间"
                         class="layui-input" required="required" th:value="${membershipSettings.editState}">
                </div>
              </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate', 'layedit'], function () {
    var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , layedit = layui.layedit
            , form = layui.form;


    /* 监听提交 */
    form.on('submit(component-form-demo1)', function (data) {
      var json = $('#form').serialize();
      json = decodeURIComponent(json, true);
      $.ajaxSettings.headers = {"token":layui.data(layui.setter.tableName)['token']};
            $.ajax({
        url: '/membershipSettings/update',
        type: "post",
        data: json,
        async: false,
        success: function (result) {
                    if (result.status == 200) {
                        window.parent.location.reload();
                    } else {
                        layer.msg(result.message, {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        }, function () {
                            window.parent.location.reload();
                        });
                    }
                },
        error: function (result) {
          window.parent.location.reload();
        }
      });
    });

  });
</script>
</body>
</html>

