<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">编辑</div>
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group" id="form">
              <input type="hidden" name="id" th:value="${dynamicCommentsOfCarUsers.id}">
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入动态id/评论id 主要看级别</label>
                <div class="layui-input-block">
                  <input type="text" name="dynamicIdOrCommentId" id="dynamicIdOrCommentId" lay-verify="required|dynamicIdOrCommentId" autocomplete="off"
                         placeholder="请输入动态id/评论id 主要看级别"
                         class="layui-input" required="required" th:value="${dynamicCommentsOfCarUsers.dynamicIdOrCommentId}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入评论人</label>
                <div class="layui-input-block">
                  <input type="text" name="memberId" id="memberId" lay-verify="required|memberId" autocomplete="off"
                         placeholder="请输入评论人"
                         class="layui-input" required="required" th:value="${dynamicCommentsOfCarUsers.memberId}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入头像</label>
                <div class="layui-input-block">
                  <input type="text" name="memberHead" id="memberHead" lay-verify="required|memberHead" autocomplete="off"
                         placeholder="请输入头像"
                         class="layui-input" required="required" th:value="${dynamicCommentsOfCarUsers.memberHead}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入昵称</label>
                <div class="layui-input-block">
                  <input type="text" name="memberNickName" id="memberNickName" lay-verify="required|memberNickName" autocomplete="off"
                         placeholder="请输入昵称"
                         class="layui-input" required="required" th:value="${dynamicCommentsOfCarUsers.memberNickName}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入评论内容</label>
                <div class="layui-input-block">
                  <input type="text" name="context" id="context" lay-verify="required|context" autocomplete="off"
                         placeholder="请输入评论内容"
                         class="layui-input" required="required" th:value="${dynamicCommentsOfCarUsers.context}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入评论时间</label>
                <div class="layui-input-block">
                  <input type="text" name="addTime" id="addTime" lay-verify="required|addTime" autocomplete="off"
                         placeholder="请输入评论时间"
                         class="layui-input" required="required" th:value="${dynamicCommentsOfCarUsers.addTime}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: red">*</span>请输入评论级别 1：直接评论动态2：回复评论</label>
                <div class="layui-input-block">
                  <input type="text" name="level" id="level" lay-verify="required|level" autocomplete="off"
                         placeholder="请输入评论级别 1：直接评论动态2：回复评论"
                         class="layui-input" required="required" th:value="${dynamicCommentsOfCarUsers.level}">
                </div>
              </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate', 'layedit'], function () {
    var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , layedit = layui.layedit
            , form = layui.form;


    /* 监听提交 */
    form.on('submit(component-form-demo1)', function (data) {
      var json = $('#form').serialize();
      json = decodeURIComponent(json, true);
      $.ajaxSettings.headers = {"token":layui.data(layui.setter.tableName)['token']};
            $.ajax({
        url: '/dynamicCommentsOfCarUsers/update',
        type: "post",
        data: json,
        async: false,
        success: function (result) {
                    if (result.status == 200) {
                        window.parent.location.reload();
                    } else {
                        layer.msg(result.message, {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        }, function () {
                            window.parent.location.reload();
                        });
                    }
                },
        error: function (result) {
          window.parent.location.reload();
        }
      });
    });

  });
</script>
</body>
</html>

