<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>表单组合</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-card-header">添加</div>
    <div class="layui-card-body" style="padding: 15px;">
      <form class="layui-form" action="" lay-filter="component-form-group" id="form">
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入id</label>
              <div class="layui-input-block">
                <input type="text" name="id" id="id" lay-verify="required|id" autocomplete="off"
                       placeholder="请输入id"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入自身ID</label>
              <div class="layui-input-block">
                <input type="text" name="oneselfId" id="oneselfId" lay-verify="required|oneselfId" autocomplete="off"
                       placeholder="请输入自身ID"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入新朋友ID</label>
              <div class="layui-input-block">
                <input type="text" name="memberId" id="memberId" lay-verify="required|memberId" autocomplete="off"
                       placeholder="请输入新朋友ID"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入用户头像</label>
              <div class="layui-input-block">
                <input type="text" name="memberHead" id="memberHead" lay-verify="required|memberHead" autocomplete="off"
                       placeholder="请输入用户头像"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入昵称</label>
              <div class="layui-input-block">
                <input type="text" name="memberNickName" id="memberNickName" lay-verify="required|memberNickName" autocomplete="off"
                       placeholder="请输入昵称"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入性别</label>
              <div class="layui-input-block">
                <input type="text" name="memberSex" id="memberSex" lay-verify="required|memberSex" autocomplete="off"
                       placeholder="请输入性别"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入年龄</label>
              <div class="layui-input-block">
                <input type="text" name="memberAge" id="memberAge" lay-verify="required|memberAge" autocomplete="off"
                       placeholder="请输入年龄"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入所在省</label>
              <div class="layui-input-block">
                <input type="text" name="province" id="province" lay-verify="required|province" autocomplete="off"
                       placeholder="请输入所在省"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入所在市</label>
              <div class="layui-input-block">
                <input type="text" name="city" id="city" lay-verify="required|city" autocomplete="off"
                       placeholder="请输入所在市"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入所在区</label>
              <div class="layui-input-block">
                <input type="text" name="area" id="area" lay-verify="required|area" autocomplete="off"
                       placeholder="请输入所在区"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入礼物ID</label>
              <div class="layui-input-block">
                <input type="text" name="giftId" id="giftId" lay-verify="required|giftId" autocomplete="off"
                       placeholder="请输入礼物ID"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入送礼物图片</label>
              <div class="layui-input-block">
                <input type="text" name="giftImages" id="giftImages" lay-verify="required|giftImages" autocomplete="off"
                       placeholder="请输入送礼物图片"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入名称</label>
              <div class="layui-input-block">
                <input type="text" name="giftName" id="giftName" lay-verify="required|giftName" autocomplete="off"
                       placeholder="请输入名称"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入数量</label>
              <div class="layui-input-block">
                <input type="text" name="giftSize" id="giftSize" lay-verify="required|giftSize" autocomplete="off"
                       placeholder="请输入数量"
                       class="layui-input" required="required">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label"><span style="color: red">*</span>请输入时间</label>
              <div class="layui-input-block">
                <input type="text" name="addTime" id="addTime" lay-verify="required|addTime" autocomplete="off"
                       placeholder="请输入时间"
                       class="layui-input" required="required">
              </div>
            </div>
        <div class="layui-form-item layui-layout-admin">
          <div class="layui-input-block">
            <div class="layui-footer" style="left: 0;">
              <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate', 'layedit'], function () {
    var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , layedit = layui.layedit
            , form = layui.form;


    /* 监听提交 */
    form.on('submit(component-form-demo1)', function (data) {
      var json = $('#form').serialize();
      json = decodeURIComponent(json, true);
      $.ajaxSettings.headers = {"token":layui.data(layui.setter.tableName)['token']};
            $.ajax({
        url: '/newFriend/add',
        type: "post",
        data: json,
        async: false,
        success: function (result) {
                    if (result.status == 200) {
                        window.parent.location.reload();
                    } else {
                        layer.msg(result.message, {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        }, function () {
                            window.parent.location.reload();
                        });
                    }
                },
        error: function (result) {
          window.parent.location.reload();
        }
      });
    });
  });
</script>
</body>
</html>

