<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.jiaoyou.mapper.AccountMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.qiqi.jiaoyou.pojo.Account">
                    <id column="id" property="id"/>
                    <result column="account" property="account"/>
                    <result column="password" property="password"/>
                    <result column="name" property="name"/>
                    <result column="phone" property="phone"/>
                    <result column="roleId" property="roleId"/>
                    <result column="addTime" property="addTime"/>
                    <result column="editTime" property="editTime"/>
                    <result column="enableState" property="enableState"/>
                    <result column="deleteState" property="deleteState"/>
                    <result column="token" property="token"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, token,account, password, name, phone, roleId, addTime, editTime, enableState, deleteState
        </sql>

</mapper>