<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.jiaoyou.mapper.GiftconsumptionMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.qiqi.jiaoyou.pojo.Giftconsumption">
                    <id column="REVISION" property="revision"/>
                    <result column="memberId" property="memberId"/>
                    <result column="sendMemberId" property="sendMemberId"/>
                    <result column="sendMemberHead" property="sendMemberHead"/>
                    <result column="sendMemberNickName" property="sendMemberNickName"/>
                    <result column="giftId" property="giftId"/>
                    <result column="giftImages" property="giftImages"/>
                    <result column="giftName" property="giftName"/>
                    <result column="giftSize" property="giftSize"/>
                    <result column="addTime" property="addTime"/>
                    <result column="drawInProportion" property="drawInProportion"/>
                    <result column="withdrawTime" property="withdrawTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            REVISION, memberId, sendMemberId, sendMemberHead, sendMemberNickName, giftId, giftImages, giftName, giftSize, addTime, drawInProportion, withdrawTime
        </sql>

</mapper>