<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.jiaoyou.mapper.ReportTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiqi.jiaoyou.pojo.ReportType">
        <id column="report_type_id" property="reportTypeId" />
        <result column="report_type_name" property="reportTypeName" />
        <result column="report_type_create_time" property="reportTypeCreateTime" />
        <result column="report_type_edit_time" property="reportTypeEditTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        report_type_id as reportTypeId,
        report_type_name as reportTypeName,
        report_type_create_time as reportTypeCreateTime,
        report_type_edit_time as reportTypeEditTime
    </sql>
</mapper>
