<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">编辑</div>
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" action="" lay-filter="component-form-group" id="form">
                <input type="hidden" name="fId" th:value="${menu.fId}">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>请选择菜单级别</label>
                    <div class="layui-input-block">
                        <select name="fClasid" id="fClasid" lay-verify="required|fClasid" autocomplete="off"
                                placeholder="请选择分类" lay-filter="fClasid"
                                class="layui-input" required="required">
                            <option value="">请选择菜单级别</option>
                            <option th:selected="${menu.fClasid == 1}" value="1">一级</option>
                            <option th:selected="${menu.fClasid == 2}" value="2">二级</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item" id="dfOid">
                    <label class="layui-form-label"><span style="color: red">*</span>请选择一级菜单</label>
                    <div class="layui-input-block">
                        <select name="fOid" id="fOid" autocomplete="off"
                                placeholder="请选择一级菜单" lay-filter="fOid"
                                class="layui-input">
                        </select>
                        <input type="hidden" id="fOids" th:value="${menu.fOid}">
                    </div>
                </div>
                <div class="layui-form-item" id="dfTid">
                    <label class="layui-form-label"><span style="color: red">*</span>请选择二级菜单</label>
                    <div class="layui-input-block">
                        <select name="fTid" id="fTid" autocomplete="off"
                                placeholder="请选择二级菜单" lay-filter="fTid"
                                class="layui-input">
                        </select>
                        <input type="hidden" id="fTids" th:value="${menu.fTid}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>请输入权限名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="fName" id="fName" lay-verify="required|fName" autocomplete="off"
                               placeholder="请输入权限名称"
                               class="layui-input" required="required" th:value="${menu.fName}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>请输入权限权重</label>
                    <div class="layui-input-block">
                        <input type="number" name="fWeight" id="fWeight" lay-verify="required|fWeight"
                               autocomplete="off"
                               placeholder="请输入权限权重"
                               class="layui-input" required="required" th:value="${menu.fWeight}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color: red">*</span>请输入权限地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="fAddress" id="fAddress" lay-verify="required|fAddress"
                               autocomplete="off"
                               placeholder="请输入权限地址"
                               class="layui-input" required="required" th:value="${menu.fAddress}">
                    </div>
                </div>
                <div class="layui-form-item layui-layout-admin">
                    <div class="layui-input-block">
                        <div class="layui-footer" style="left: 0;">
                            <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate', 'layedit'], function () {
        var $ = layui.$
            , admin = layui.admin
            , element = layui.element
            , layer = layui.layer
            , laydate = layui.laydate
            , layedit = layui.layedit
            , form = layui.form;

        //异步加载下拉框数据
        $.ajaxSettings.headers = {"token":layui.data(layui.setter.tableName)['token']};
        $.get("/menu/selectLevelIsOne", function (data) {
            var $html = "";
            $html += "<option value=''>请选择或搜索一级菜单</option>";
            if (data.data != null) {
                $.each(data.data, function (index, item) {
                    $html += "<option value='" + item.fId + "'>" + item.fName + "</option>";
                });
                $("#fOid").append($html);
                var id = $("#fOids").val();
                $("#fOid").val(id);
                //append后必须从新渲染
                form.render('select');
                //移除城市下拉框所有选项
                $("#fTid").empty();
                var cityHtml = '<option value="">请选择或搜索二级菜单</option>';
                $("#fTid").html(cityHtml);
                var value = $("#fOids").val();
                //异步加载下拉框数据
                $.ajaxSettings.headers = {"token":layui.data(layui.setter.tableName)['token']};
        $.post("/menu/selectLevelIsTwo", {"id": value}, function (data) {
                    var $html = "";
                    if (data.data != null) {
                        $.each(data.data, function (index, item) {
                            $html += "<option value='" + item.fId + "'>" + item.fName + "</option>";
                        });
                        $("#fTid").append($html);
                        //append后必须从新渲染
                        var id = $("#fTids").val();
                        $("#fTid").val(id);
                        form.render('select');
                    }
                });

            }
        });

        //监听一级菜单下拉框
        form.on('select(fOid)', function (dataObj) {
            //移除城市下拉框所有选项
            $("#fTid").empty();
            var cityHtml = '<option value="">请选择或搜索二级菜单</option>';
            $("#fTid").html(cityHtml);
            var value = $("#fOid").val();
            //异步加载下拉框数据
            $.ajaxSettings.headers = {"token":layui.data(layui.setter.tableName)['token']};
        $.post("/menu/selectLevelIsTwo", {"id": value}, function (data) {
                var $html = "";
                if (data.data != null) {
                    $.each(data.data, function (index, item) {
                        $html += "<option value='" + item.fId + "'>" + item.fName + "</option>";
                    });
                    $("#fTid").append($html);
                    //append后必须从新渲染
                    var id = $("#fTids").val();
                    $("#fTid").val(id);
                    form.render('select');
                }
            });
        });


        /*监听下拉框*/
        form.on('select(fClasid)', function (dataObj) {
            var value = $("#fClasid").val();
            if (value == 1) {
                $("#dfOid").css('display', 'none');
                $("#dfTid").css('display', 'none');
            }
            if (value == 2) {
                $("#dfOid").css('display', 'block');
                $("#dfTid").css('display', 'none');
            }
            if (value == 3) {
                $("#dfOid").css('display', 'block');
                $("#dfTid").css('display', 'block');
            }
        });

        var value = $("#fClasid").val();
        if (value == 1) {
            $("#dfOid").css('display', 'none');
            $("#dfTid").css('display', 'none');
        }
        if (value == 2) {
            $("#dfOid").css('display', 'block');
            $("#dfTid").css('display', 'none');
        }
        if (value == 3) {
            $("#dfOid").css('display', 'block');
            $("#dfTid").css('display', 'block');
        }


        /* 监听提交 */
        form.on('submit(component-form-demo1)', function (data) {
            var json = $('#form').serialize();
            json = decodeURIComponent(json, true);
            $.ajaxSettings.headers = {"token":layui.data(layui.setter.tableName)['token']};
            $.ajax({
                url: '/menu/update',
                type: "post",
                data: json,
                async: false,
                success: function (result) {
                    if (result.status == 200) {
                        window.parent.location.reload();
                    } else {
                        layer.msg(result.message, {
                            offset: '15px'
                            , icon: 2
                            , time: 1000
                        }, function () {
                            window.parent.location.reload();
                        });
                    }
                },
                error: function (result) {
                    window.parent.location.reload();
                }
            });
        });

    });
</script>
</body>
</html>

